$sidebar-width: 337px;
$blogpost-width: 1300px;
$navbar-height: 451px;
$banner-breakpoint: lg;
$preview-title-banner-height: 300px;

@mixin separator {
  width: 100%;
  height: 2px;
  background-color: #49417d4b;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 1%, 0.1);
}

html,
#root {
  overflow-x: hidden;
  background-color: $backdrop-color;

  > .page {
    overflow-x: hidden;
    position: relative;
  }
}

hr.solid {
  border-top: 2px solid #777;
}

.markdown > p {
  overflow: auto;

  > img {
    max-width: 100%;
    min-width: 400px;
  }
}

.navbar {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;

  @include secondary-palette;
  @include basic-transition;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: $sidebar-width;

  @include light-boxshadow;
  @include secondary-palette;
  @include media-breakpoint-down($banner-breakpoint) {
    position: relative;
    height: fit-content;
    width: 100%;
  }

  .profile {
    overflow: hidden;
    color: #e6e6e6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    .profile-collapse {
      transition: max-height 0.3s ease-in-out;
      -webkit-transition: max-height 0.3s ease-in-out;

      .photo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .photo {
          background-position: center;
          background-color: white;
          min-width: 280px;
          min-height: 280px;
          width: auto;
          height: auto;
          border: 7px solid #e6e6e6;
          border-radius: 50%;
          background-image: url(../img/profilephoto.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          @include basic-transition;
          @include light-boxshadow;

          &:hover {
            border: 1px solid #e6e6e6;
          }
        }
      }

      .name {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

        .highlight {
          color: $tertiary-color;
        }
      }

      .title {
        text-align: center;
        font-weight: 500;
      }

      .social-media {
        font-size: 20px;
        text-align: center;

        a.icon {
          color: #e6e6e6 !important;
          text-decoration: none;
          @include fast-transition;

          &:hover {
            transform: scale(1.5);
          }

          & + .icon {
            margin-left: 5px;
          }
        }
      }

      .skills {
        margin-top: 0px;
        text-align: center;
        font-style: italic;
      }

      .description {
        text-align: center;
      }
    }
  }

  .nav-arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .nav-arrow {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: 4px solid #ffffff;
      transform: translateY(24px);
      transition: box-shadow 0.3s ease-in-out;
      -webkit-transition: box-shadow 0.3s ease-in-out;

      .icon {
        font-size: 20px;
        color: $secondary-color;
      }

      &:hover {
        @include light-boxshadow;
      }

      @include media-breakpoint-up($banner-breakpoint) {
        opacity: 0%;
      }
    }
  }
}

.content {
  padding: 30px;
  margin-left: $sidebar-width;
  color: $text-primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-pagination {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;

    .top-pagination-search {
      width: 420px;
    }
  }

  .bottom-pagination {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }

  .pagination {
    line-height: 30px;
    align-items: center;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    li {
      a {
        box-shadow: none !important;
      }
    }

    li:not(.disabled) {
      a {
        color: $secondary-color;
      }

      &.active {
        a {
          @include secondary-palette;
        }
      }
    }
  }

  .top-search-container {
    max-width: 1300px;

    .top-search {
      max-width: 420px;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;
    }
  }

  div + .live-search {
    margin-left: 10px;
  }

  button + .live-search {
    margin-left: 10px;
  }

  .live-search {
    z-index: 4;
    overflow: visible;
    height: 73px;
    width: 100%;
    padding-top: 12px;
    margin-right: 20px;

    .results {
      padding: 12px;
      background-color: #e6e6e6;
      border-radius: 5px;
      @include light-boxshadow;

      .hint {
        color: #969faf;
        font-style: italic;
        margin-top: 12px;
      }

      .result {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 12px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: flex-start;

        &:hover {
          @include secondary-palette;

          .card {
            @include secondary-palette;
          }
        }

        & + .result {
          margin-top: 12px;
        }

        .icon {
          font-size: 30px;

          & + .card {
            margin-left: 12px;
          }
        }

        .card {
          border: none;
          .title {
            font-weight: bold;
            font-size: medium;
          }
          .description {
            font-style: italic;
            font-size: small;
          }
        }
      }
    }

    @include media-breakpoint-down($banner-breakpoint) {
      margin-right: 0;
      // width: 80%;
    }

    // @include media-breakpoint-down(sm) {
    //   width: 100%;
    // }
  }

  .container {
    max-width: $blogpost-width;
  }

  @include media-breakpoint-down($banner-breakpoint) {
    margin-left: 0;
    margin-top: 12px;
    padding: 10px;
  }
}

.meta-header {
  justify-content: space-between;
  display: flex;
  max-width: 800px;
}

.date-container {
  @include secondary-palette;
  border-radius: 2px;
  width: fit-content;
  padding: 5px;

  > .date {
    font-weight: normal;
    font-size: smaller;
  }

  > .reading-time {
    font-weight: normal;
    font-size: smaller;
  }
}

.blog-post-container {
  @include basic-transition;
  margin-top: 40px;

  .reading-time-container {
    @include light-boxshadow;
    background-color: #ccc;
    border-radius: 2px;
    width: fit-content;
    padding: 5px 8px 5px 8px;
    font-weight: normal;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      font-size: 20px;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
    }

    .collapsed {
      padding-left: 4px;
      white-space: nowrap;
      visibility: visible;
      display: inline-block;
      max-width: 0px;
      overflow: hidden;
      transition: max-width 0.3s ease, margin 0.3s ease;
    }

    &:hover {
      .collapsed {
        max-width: 100px;
      }

      .reading-time {
        font-weight: bold;
        margin-left: 4px;
      }
    }
  }

  .blog-post {
    @include primary-palette;
    @include light-boxshadow;
    max-width: $blogpost-width;
    padding: 30px !important;

    @include media-breakpoint-down($banner-breakpoint) {
      padding: 15px !important;

      &:first-child {
        margin-top: 20px;
      }
    }

    &:hover {
      .blog-header {
        .blog-meta {
          .collapsed {
            max-width: 200px;
          }
        }
      }
    }

    .blog-header {
      color: #333;

      .blog-description {
        font-style: italic;
      }

      .blog-meta {
        font-size: small;
        width: fit-content;
        .blog-date {
          font-style: italic;
        }

        .collapsed {
          height: 15px;
          white-space: nowrap;
          visibility: visible;
          display: inline-block;
          max-width: 0px;
          overflow: hidden;
          transition: max-width 0.3s ease, margin 0.3s ease;
        }
      }
    }
  }
}

.preview-container {
  border-radius: 5px;
  height: 500px;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  border: 1px solid #cccccc;
  background-color: $primary-color;

  &:hover {
    & .preview-title {
      & .title-card {
        height: fit-content;

        & .description {
          @include basic-transition;
          opacity: 100%;
        }

        & .author {
          @include basic-transition;
          opacity: 100%;
        }
      }
    }
  }

  & .preview-title {
    padding: 10px;
    width: 100%;
    height: $preview-title-banner-height;
    position: absolute;
    background: linear-gradient(to bottom, #f7faf9ff 0px, #f7faf9ff 100px, #f7faf900);
    top: 0px;

    & .title-card {
      overflow: hidden;
      background-color: #ddd;
      color: #333333;
      align-items: flex-start;
      width: fit-content;
      display: flex;
      flex-direction: column;
      padding: 5px;
      padding-left: 10px;
      height: 53px;
      border-radius: 3px;

      & .title {
        font-weight: bolder;
        font-size: 25px;
      }

      & .description {
        opacity: 0%;
      }

      & .author {
        font-style: italic;
        font-size: small;
        opacity: 0%;
      }
    }

    & .title-separator {
      @include separator;
    }
  }

  & .preview-container-bottom-fade {
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, #f7faf9ff, #f7faf9ff 20px, #f7faf900);
    position: absolute;
    bottom: 0;
  }

  & .separator {
    @include separator;
    position: absolute;
    bottom: 0;
  }

  & .markdown {
    padding: 30px;
  }
}
