$sidebar-width: 300px;
$navbar-height: 40px;
$banner-breakpoint: lg;

html,
#root {
  overflow-x: hidden;
  background-color: $primary-color;

  > .page {
    overflow-x: hidden;
  }
}

.markdown > p {
  overflow: auto;

  > img {
    max-width: 100%;
    min-width: 400px;
  }
}

.navbar {
  @include secondary-palette;
  @include basic-transition;
  @include media-breakpoint-up($banner-breakpoint) {
    transform: translateY(-$navbar-height);
    -webkit-transform: translateY(-$navbar-height);
  }
}

.sidebar {
  position: fixed;
  height: 100%;
  width: $sidebar-width;

  @include secondary-palette;
  @include basic-transition;
  @include media-breakpoint-down($banner-breakpoint) {
    transform: translateX(-$sidebar-width);
    -webkit-transform: translateX(-$sidebar-width);
  }
}

.content {
  margin-left: $sidebar-width;
  color: $text-primary-color;
  @include basic-transition;

  @include media-breakpoint-down($banner-breakpoint) {
    margin-left: 0;
  }

  @include media-breakpoint-up($banner-breakpoint) {
    transform: translateY(-$navbar-height);
    -webkit-transform: translateY(-$navbar-height);
  }
}

$preview-title-banner-height: 80px;

.preview-container {
  height: 500px;
  max-width: 800px;
  overflow: hidden;
  position: relative;

  > .preview-title {
    width: 100%;
    height: $preview-title-banner-height;
    position: absolute;
    background: $primary-color;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    > .title-card {
      @include secondary-palette;
      align-items: center;
      display: flex;
      padding: 10px;
      height: 50px;
      font-weight: bolder;
      font-size: 25px;
    }
  }
  // TODO: Add fade offset
  > .title-fade {
    width: 100%;
    height: 300px;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, $primary-color 100%);
    top: $preview-title-banner-height;
  }

  > .read-more {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #49417d4b);
    position: absolute;
    bottom: 0;
  }

  > .separator {
    width: 100%;
    height: 2px;
    background-color: $secondary-color;
    position: absolute;
    bottom: 0;
  }
}
