$sidebar-width: 337px;
$blogpost-width: 1300px;
$navbar-height: 451px;
$banner-breakpoint: lg;
$preview-title-banner-height: 300px;

@mixin separator {
  width: 100%;
  height: 2px;
  background-color: #49417d4b;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 1%, 0.1);
}

html,
#root {
  overflow-x: hidden;
  background-color: $backdrop-color;

  > .page {
    overflow-x: hidden;
  }
}

.fs-7 {
  font-size: small;
}

hr.solid {
  border-top: 2px solid #777;
}

.markdown > p {
  overflow: auto;

  > img {
    max-width: 100%;
    min-width: 400px;
  }
}

.sidebar {
  width: $sidebar-width;

  @include light-boxshadow;
  @include secondary-palette;
  @include media-breakpoint-down($banner-breakpoint) {
    width: 100%;
  }

  .profile {
    color: $backdrop-color;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    .profile-collapse {
      transition: max-height 0.3s ease-in-out;
      -webkit-transition: max-height 0.3s ease-in-out;

      .photo-container {
        .photo {
          background-position: center;
          background-color: white;
          min-width: 280px;
          min-height: 280px;
          border: 7px solid $backdrop-color;
          background-image: url(../img/profilephoto.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          @include basic-transition;
          @include light-boxshadow;

          &:hover {
            border: 1px solid $backdrop-color;
          }
        }
      }

      .name {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

        .highlight {
          color: $tertiary-color;
        }
      }

      .social-media {
        a.icon {
          color: $backdrop-color;
          text-decoration: none;
          @include fast-transition;

          &:hover {
            transform: scale(1.5);
          }

          & + .icon {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .nav-arrow-container {
    .nav-arrow {
      width: 50px;
      height: 50px;
      transform: translateY(24px);
      transition: box-shadow 0.3s ease-in-out;
      -webkit-transition: box-shadow 0.3s ease-in-out;

      .icon {
        color: $secondary-color;
      }

      &:hover {
        @include light-boxshadow;
      }

      @include media-breakpoint-up($banner-breakpoint) {
        opacity: 0%;
      }
    }
  }
}

.content {
  margin-left: $sidebar-width;
  color: $text-primary-color;

  .top-pagination {
    max-width: $blogpost-width;
    row-gap: 10px;
  }

  .bottom-pagination {
    max-width: $blogpost-width;
  }

  // TODO move this
  .pagination {
    li {
      a {
        box-shadow: none !important;
      }
    }

    li:not(.disabled) {
      a {
        color: $secondary-color;
      }

      &.active {
        a {
          @include secondary-palette;
        }
      }
    }
  }

  // TODO move this
  .live-search {
    z-index: 4;

    input {
      width: auto;
    }

    .results {
      background-color: $backdrop-color;
      @include light-boxshadow;

      .hint {
        color: #969faf;
      }

      .result {
        cursor: pointer;
        background-color: #ffffff;

        &:hover {
          @include secondary-palette;

          .card {
            @include secondary-palette;
          }
        }
      }
    }
  }

  .container {
    max-width: $blogpost-width;
  }

  @include media-breakpoint-down($banner-breakpoint) {
    margin-left: 0;
  }
}

// TODO move this
.reading-time-container {
  @include light-boxshadow;
  background-color: #ccc;
  width: fit-content;

  .collapsed {
    white-space: nowrap;
    max-width: 0px;
    transition: max-width 0.3s ease, margin 0.3s ease;
  }

  &:hover {
    .collapsed {
      max-width: 100px;
    }

    .reading-time {
      font-weight: bold;
      margin-left: 4px;
    }
  }
}

.blog-post {
  @include primary-palette;
  @include light-boxshadow;
  max-width: $blogpost-width;

  &:hover {
    .blog-header {
      .blog-meta {
        .collapsed {
          max-width: 200px;
        }
      }
    }
  }

  .blog-header {
    color: #333;

    .blog-meta {
      width: fit-content;

      .collapsed {
        white-space: nowrap;
        max-width: 0px;
        transition: max-width 0.3s ease, margin 0.3s ease;
      }
    }
  }
}
