$themes: (
  light: (
    color-card: #ffffff,
    color-backdrop: #e6e6e6,
    color-text: #333333,
    color-results-background: darken(#e6e6e6, 5%),
    color-results-hint: darken(#e6e6e6, 30%),
    color-readingtime-background: darken(#ffffff, 25%),
    color-aside-secondary: darken(#ffffff, 60%),
    color-footer-background: #535353,
    color-footer-text: #dee2e6,
    color-hightlight: #1e73be,
    color-text-hightlight: #f7faf9,
  ),
  dark: (
    color-card: #ffffff,
    color-backdrop: #e6e6e6,
    color-text: #333333,
    color-results-background: darken(#e6e6e6, 5%),
    color-results-hint: darken(#e6e6e6, 30%),
    color-readingtime-background: darken(#ffffff, 25%),
    color-aside-secondary: darken(#ffffff, 60%),
    color-footer-background: #535353,
    color-footer-text: #dee2e6,
    color-hightlight: #1e73be,
    color-text-hightlight: #f7faf9,
  ),
);
