$themes: (
  light: (
    color-card: #f3f5f7,
    color-backdrop: #e6e6e6,
    color-text: #333333,
    color-text-disabled: #33333365,
    color-results-background: darken(#e6e6e6, 5%),
    color-readingtime-background: darken(#f3f5f7, 25%),
    color-aside-secondary: darken(#f3f5f7, 50%),
    color-footer-background: #535353,
    color-footer-text: #dee2e6,
    color-highlight: #3b6294,
    color-text-highlight: #f7faf9,
    color-toggle: darken(#4c7ec0, 20%),
  ),
  dark: (
    color-card: #ede3d3,
    color-backdrop: #d9cbb4,
    color-text: #252422,
    color-text-disabled: #2524225f,
    color-text-light: darken(#ede3d3, 30%),
    color-results-background: darken(#ede3d3, 5%),
    color-readingtime-background: darken(#ede3d3, 25%),
    color-aside-secondary: darken(#ede3d3, 55%),
    color-footer-background: darken(#535353, 20%),
    color-footer-text: #dee2e6,
    color-highlight: #402d33,
    color-text-highlight: #d8dbdf,
    color-toggle: #6d4d57,
  ),
);
