.profile {
  overflow: hidden;
  color: #e6e6e6;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  
  .profile-collapse {
    transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;

    .photo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .photo {
        background-position: center;
        background-color: white;
        min-width: 280px;
        min-height: 280px;
        width: auto;
        height: auto;
        border: 7px solid #e6e6e6;
        border-radius: 50%;
        background-image: url(../img/profilephoto.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include basic-transition;
        @include light-boxshadow;

        &:hover {
          border: 1px solid #e6e6e6;
        }
      }
    }

    .name {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

      .highlight {
        color: $tertiary-color;
      }
    }

    .title {
      text-align: center;
      font-weight: 500;
    }

    .social-media {
      font-size: 20px;
      text-align: center;

      a.icon {
        color: #e6e6e6 !important;
        text-decoration: none;
        @include fast-transition;

        &:hover {
          transform: scale(1.5);
        }

        & + .icon {
          margin-left: 5px;
        }
      }
    }

    .skills {
      margin-top: 0px;
      text-align: center;
      font-style: italic;
    }

    .description {
      text-align: center;
    }
  }
}

.nav-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-arrow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    transform: translateY(24px);
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;

    .icon {
      font-size: 20px;
      color: $secondary-color;
    }

    &:hover {
      @include light-boxshadow;
    }

    @include media-breakpoint-up($banner-breakpoint) {
      opacity: 0%;
    }
  }
}
