$primary-color: #ffffff;
$secondary-color: #49417d;
$tertiary-color: #57a773;
$backdrop-color: #eeeeee;

$text-primary-color: black;
$text-secondary-color: #f7faf9;

@mixin primary-pallete {
  background-color: $primary-color;
  color: $text-primary-color;
}

@mixin secondary-palette {
  background-color: $secondary-color;
  color: $text-secondary-color;
}
