$primary-color: #ffffff;
$secondary-color: #1e73be;
$backdrop-color: #e6e6e6;

$text-primary-color: #333;
$text-secondary-color: #f7faf9;

@mixin primary-palette {
  background-color: $primary-color;
  color: $text-primary-color;
}

@mixin secondary-palette {
  background-color: $secondary-color;
  color: $text-secondary-color;
}

@mixin no-transition {
  transition: none !important;
  -webkit-transition: none !important;
}

.btn-primary {
  background-color: #1e73be !important;
}
