// START: fade transition
.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease;
}
// END: fade transition

@mixin transition-disable {
  transition: none !important;
  -webkit-transition: none !important;
}

body * {
  transition: border-color 0.05s, background-color 0.05s, color 0.05s !important;
  -webkit-transition: border-color 0.05s, background-color 0.05s, color 0.05s !important;
}
